[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [ 5672 ] },
                { ssl_listeners, [ ] },
                { hipe_compile, false },
                { log_levels, [ {connection, warning }, {channel, warning } ] }
        ] },
        {prometheus, [
          {rabbitmq_exporter, [
             {connections_total_enabled, true}
          ]}
        ]},
        { rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }
        ] } ] }
].
